 /* --------------------------------
 * Standard Dialogs (Header, Content)
 * -------------------------------- */
 div.leftwing-dialog{
    font-family: sans-serif;
    font-size: 12px;
 }
div.leftwing-dialog > div,
div.leftwing-dialog > .dialog-content,
div.leftwing-dialog > ol{
    border-width: 2px;
    border-color: black;
}
div.leftwing-dialog > div:first-child{
    border-radius: 10px 10px 0 0;
    border-style: solid solid none solid;
    background-color: black;
    color: white;
    padding: 5px 8px;
}
div.leftwing-dialog > .leftwing-dialog-content{
   border-style: none solid none solid;
   background-color: #f90;
   padding: 10px;
   text-align: center;
   min-width: 200px;
   
}
div.leftwing-dialog > ol{
    border-radius: 0 0 10px 10px;
    border-style: none solid solid solid;
    background-color: #f90;
    padding: 10px;
    list-style: none;
    text-align: right;
}


div.leftwing-dialog > ol > li{
    display: inline-block;
    margin-right: 7px;
}
div.leftwing-dialog > ol > li:last-child{
    margin-right: 4px;
}
div.leftwing-dialog >  ol > li > button{
    
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px 4px 3px 4px;
    font-size: 11px;
    color: #444;
    
    
}








